<h1>New Task</h1>

<%= form_with url: "/tasks/new", method: :post, local: true do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :description %>
  <%= form.text_field :description %>

  <%= form.label :location %>
  <%= form.text_field :location %>

  <%= form.label :priority %>
  <%= form.number_field :priority %>

  <%= form.label :category %>
  <%= form.text_field :category %>

  <%= form.label :time_commitment %>
  <%= form.number_field :time_commitment %>

  <%= form.label :frequency %>
  <%= form.number_field :frequency %>

  <%= form.submit %>
<% end %>
